{% extends 'base.html.twig' %}

{% block title %}Hello TriangleController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	{% for item in data %}
	<div class="example-wrapper">
		<h1>This Demo Data for {{data.type|capitalize}}! ✅</h1>
		<p>
			Circumference :{{ data.circumference }}
		</p>
		<p>Area :{{ data.surface }}</p>
	</div>
    {% endfor %}
{% endblock %}
